$properties: (
      // center, right, full
      alignment: ""
);

.tabs {
      display: flex;
      align-items: stretch;
      font-size: 0.9rem;
      justify-content: space-between;
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;

      ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;
            flex-shrink: 0;
            border-bottom-color: gray;
            border-bottom-style: solid;
            border-bottom-width: 1.5px;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #223143;

            @if map-get($properties, alignment) == "center" {
                  & {
                        justify-content: center;
                  }
            } @else if map-get($properties, alignment) == "right" {
                  & {
                        justify-content: flex-end;
                  }
            }
      }

      li {
            display: block;

            &.isActive {
                  a {
                        background-color: #fff;
                        border-color: gray;
                        border-bottom-color: transparent;
                        color: #223143;
                  }
            }

            @if map-get($properties, alignment) == "full" {
                  & {
                        flex-grow: 1;
                        flex-shrink: 0;
                  }
            }
      }
      a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -1px;
            padding: 0.5em 1em;
            font-size: 1.05em;
            vertical-align: top;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 0.375em 0.375em 0 0;

            &:hover {
                  background-color: #f5f5f5;
                  border-bottom-color: #dbdbdb;
                  color: #223143;
            }
      }

      .icon {
            font-size: 1.1em;
            margin-right: 0.5em;
            color: #ffba08;
      }
}
